:root {
    --swiper-pagination-bullet-size: 14px;
}

.home {
    .hero {
        background: url(../img/home/hero.jpg) no-repeat center right/cover;

        .row {
            min-height: 100vh;
        }

        .contentWrapper {
            padding: 5rem 0;
            margin: 0;

            .desc {
                background: #1C1F2D;
                display: inline-block;
                font-weight: 300;
                font-size: 1.15rem;
                padding: 0.5rem 1rem;
                letter-spacing: 0.15em;
                line-height: 1.5;
                // border: 2px solid;
                // border-image-slice: 1;
                // border-image-source: $gradientBorder;

                // @media screen and (max-width: 1600px) {
                //     font-size: 1.5rem;
                // }

                @media screen and (max-width: 1200px) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 992px) {
                    font-size: 0.8rem;
                }

                @media screen and (max-width: 767px) {
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 3.5rem 0;
            }
        }
    }

    .brands {
        // background: url(../img/global/brands.jpg) no-repeat center center/cover;
        background: #13151C;

        .sliderWrapper {
            position: relative;
            // padding: 0 3rem;

            .brandsSlider {
                .swiper-slide {
                    width: 100%;
                    height: 80px;
                    padding: 1rem 1.5rem;
                    background: #FFF;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: grayscale(1);
                    }
                }

                @media screen and (max-width: 992px) {
                    height: 150px;
                    touch-action: none;
                    pointer-events: none;

                    .swiper-slide {
                        width: 100%;
                        height: calc((100% - 20px) / 2) !important;
                    }
                }
            }
        }
    }

    .contact,
    .team {
        .imgContainer {
            height: 100%;
            position: relative;

            @media screen and (max-width: 767px) {
                padding-top: 66%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .gallery {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(5, 1fr);
            position: relative;
            z-index: 1;

            @media screen and (max-width: 767px) {
                grid-gap: 5px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: calc(100% - 1px);
                background: #FFF;
                z-index: -1;
            }

            .galleryItem1 {
                grid-area: 1 / 1 / 1 / 3;
            }

            .galleryItem2 {
                grid-area: 1 / 3 / 1 / 6;
            }

            .galleryItem3 {
                grid-area: 2 / 1 / 2 / 4;
            }

            .galleryItem4 {
                grid-area: 2 / 4 / 2 / 6;
            }

            img {
                height: 100%;
                object-fit: cover;
                transition: all ease-in-out 0.3s;
            }
        }

        .contactWrapper {
            padding: 5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 1200px) {
                padding: 3rem;
            }

            @media screen and (max-width: 500px) {
                padding: 3rem 15px;
            }
        }
    }

    .about {
        background: #1D1F29;

        &.imageContent {
            &.mobileMargin {
                @media screen and (max-width: 767px) {
                    margin-bottom: 0 !important;
                }
            }
        }

        .contentCol {
            @media screen and (min-width: 768px) {
                padding: 5rem 0;
                display: flex;
                align-items: center;
            }
        }

        .imageCol {
            img {
                object-position: top;
                margin-bottom: 5rem;

                @media screen and (max-width: 767px) {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }

    .whoWeAre {
        background: #1E212E;
    }
}