$primary: #292C39;
$primaryLight: #2C2F3D;
$black: #14161C;
$btn: #262936;
$btnDark: #1E2334;
$gradientBorder: linear-gradient(90deg, #FF5450 0.3%, #FFEF2A 14.61%, #DAFF36 32.89%, #18FF5E 52.25%, #36DDFF 67.84%, #456DFF 82.9%, #AB40FF 103.55%);
$gradientDash: linear-gradient(90.84deg, #FFF734 2.51%, #3DFFFF 96.87%);

//SWiper
:root {
    --swiper-theme-color: #FFF;
    --swiper-pagination-bullet-inactive-color: #EFEFEF;
}